# Logs
logs
*.log
npm-debug.log*
lib-cov
coverage
*.lcov
.nyc_output
dist
node_modules/
static/js/components/
.env
.env.test
envinfo.txt
pathToRegex-old.js
static/fonts
EvoPresentation.txt
oldFiles
statetest.html
StateTestElement.html
