<component tag="alert-box"
  :message
  :title
  :icon
  :state="string:alert"
  :popup="bool:false"
  :disabled="bool:false"
  :dogs="arr:[1,2,3,&quot;a&quot;]"
>
  <template>
    <div class="frame" :attr.state="state" :attr.is-popup="popup">
      <button class="closer"></button>
      <span $if="icon" :attr.icon="icon"></span>
      <div $if="title" class="title" :html="title"></div>
      <div class="message" :html="message"></div>
    </div>
  </template>
  <style>
    :host {
      display: block;
      height: fit-content;
      margin: 2px 0;
      --alert-box-bgcolor: #EFE;
      --alert-box-bordercolor: #6D6;
    }

    :host([popup]) {
      display: inline-block;
      left: 50%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .frame[state=info] {
      --alert-box-bgcolor: #DDF;
      --alert-box-bordercolor: #66D;
    }

    .frame[state=warn],.frame[state=warning] {
      --alert-box-bgcolor: #FFD;
      --alert-box-bordercolor: #DD6;
    }

    .frame[state=alert], .frame[state=error] {
      --alert-box-bgcolor: #FDD;
      --alert-box-bordercolor: #D66;
    }

    .frame {
      background-color: var(--alert-box-bgcolor, #FFF);
      border: 1px solid var(--alert-box-bordercolor, #000);
      border-radius: 0;
      font: 16px var(--alert-box-font, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif);
      padding: 10px 25px 10px 10px;
      position: relative;
    }

    :host([popup]) .frame {
      border-radius: 5px;
    }

    .closer {
      display: none;
    }

    :host([popup]) .closer {
      all: unset;
      border: 1px solid transparent;
      border-radius: 3px;
      display: inline-block;
      height: 12px;
      position: absolute;
      right: 3px;
      top: 3px;
      width: 12px
    }

    .closer:hover {
      background: #0001;
      border-color: var(--alert-box-bordercolor, #000);
      cursor: pointer;
    }

    .closer::after,
    .closer::before {
      border-left: 1px solid var(--alert-box-bordercolor, #000);
      content: '';
      display: inline-block;
      height: 10px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 0;
    }

    .closer::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .closer:hover::after,
    .closer:hover::before {
      border-left-color:#0008;
    }
  </style>
  <script>
  </script>
</component>
