<component tag="changepw-dialog"
  :change-pw-href="str"
  :change-pw-method="str:post"
  :busy="bool:false"
  :error-message
  :#username
  :#current-password
  :#new-password
  :#new-password2
  :#state
  :#token
  :#password-type="str:password"
  :#show-text="str:var:STATE_SHOW"
>
  <template>
    <wc-dialog el="dialog" title="Change Password" show-footer="false">
      <section>
        <form :action="changePwHref" :method="changePwMethod|#toLower" .submit="#changePw">
          <input type="hidden" name="token" :value="#token" />
          <div class="error-message" $if="errorMessage" :text="errorMessage" .click="#clearError"></div>
          <div>
            <div class="prev-password-block">
              <label for="prev-password">Current Password:</label>
            </div>
            <input id="prevPassword" name="prevPassword" maxlength="32" :value="#currentPassword"
              :type="#passwordType" required autofocus autocomplete="current-password" aria-label="Password" .input="#clearError" />
            <button class="show-pw" type="button" is="wc-button" small variant="link" .click="#toggleShowState"
              :attr.aria-label="#showText" :data-input="prevPassword" :text="#showText"></button>
          </div>
          <div>
            <div class="password-block">
              <label for="password" :attr.state="#state">New Password:</label>
            </div>
            <input id="newPassword" name="newPassword" maxlength="32" :value="#newPassword"
              :type="#passwordType" required autocomplete="new-password" aria-label="Password" .input="#clearError" />
            <button class="show-pw" type="button" is="wc-button" small variant="link" .click="#toggleShowState"
              :attr.aria-label="#showText" :data-input="newPassword" :text="#showText"></button>
          </div>
          <div>
            <div class="password-block">
              <label for="password">Repeat New Password:</label>
            </div>
            <input id="newPassword2" name="newPassword2" maxlength="32" :value="#newPassword2" :type="#passwordType" required
              autocomplete="new-password" aria-label="Password" .input="#clearError" />
            <button class="show-pw" type="button" is="wc-button" small variant="link" .click="#toggleShowState"
              :attr.aria-label="#showText" :data-input="newPassword" :text="#showText"></button>
          </div>
          <button class="change-pw" is="wc-button" large aria-label="Change Password">Change Password</button>
        </form>
      </section>
      <div class="spinner-holder" $if="busy">
        <wc-spinner></wc-spinner>
      </div>
    </wc-dialog>
  </template>
  <style>
    :host {
      --login-dialog-text-color: #334;
      --login-dialog-link-color: #33A;
      --login-dialog-font-size: 18px;
      color:var(--login-dialog-text-color);
      font-size: var(--login-dialog-font-size);
      height: 0;
      margin: 0;
      padding: 0;
      width: 0;
    }
    :host([size=small]) {
      --login-dialog-font-size: 14px;
    }
    :host([size=large]) {
      --login-dialog-font-size: 24px;
    }
    label, input, button {
      font: 1em Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    }
    wc-dialog {
      --dialog-border: none;
      --dialog-border-radius: 5px;
      --dialog-header-bgcolor: #fff;
      --dialog-header-font: bold 1.6em Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
      --dialog-header-justify: center;
      position: relative;
    }
    section {
      margin: 0;
      padding: 8px;
      width: 20em;
    }
    form {
      margin: 0;
      padding: 0;
    }
    input[type=text], input[type=email], input[type=password] {
      border-width: 1px;
      box-sizing: border-box;
      display: block;
      margin: 4px 0;
      padding: 10px 8px;
      width: 100%;
    }
    div {
      position: relative;
    }
    button.change-pw {
      margin-top: 16px;
      width: 100%;
    }
    button.show-pw {
      color:var(--login-dialog-link-color);
      position: absolute;
      bottom: 13px;
      right: 7px;
    }
    .password-block {
      align-items:baseline;
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }
    [state="invalid"] {
      color: red;
    }
    .error-message {
      background-color: #F99;
      border: 1px solid #E66;
      margin-bottom: 12px;
      padding: 6px;
      text-align: center;
    }
    a {
      color:var(--login-dialog-link-color);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .spinner-holder {
      align-items: center;
      background-color: #3335;
      display:flex;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>
  <script location="root">
    import { DIALOG_BUTTONS } from './WcDialogElement.js';
    import './WcSpinnerElement.js';

    const STATE_HIDE = 'hide';
    const STATE_SHOW = 'show';
  </script>
  <script>
    update(field, oldVal, newVal) {
      if (['#newPassword', '#newPassword2'].includes(field)) {
        const isInvalid = (!this.#newPassword || !this.#newPassword2 ||
            this.#newPassword !== this.#newPassword2)

        this.#state = isInvalid ? 'invalid' : null;
      }
    }
    open() {
      this.#username = '';
      this.#currentPassword = '';
      this.#newPassword = '';
      this.busy = false;
      setTimeout(() => {
        this.#getToken();
      }, 1);
      return this.#els.dialog.open();
    }
    #toLower(str) {
      return str.toLowerCase();
    }
    //******************************************
    // Events
    #toggleShowState(event) {
      if (this.#showText === STATE_HIDE) {
        this.#showText = STATE_SHOW;
        this.#passwordType = 'password';
      }
      else {
        this.#showText = STATE_HIDE;
        this.#passwordType = 'text';
      }
    }
    #clearError() {
      if (this.errorMessage) {
        this.errorMessage = '';
      }
    }
    #dispatch(name, { detail = null, bubbles = false, cancelable = true, composed = false } = {}) {
      if (typeof name !== 'string' || name.length === 0) {
        throw new TypeError('name must be defined');
      }

      const event = new CustomEvent(name, { detail, bubbles, cancelable, composed });
      this.dispatchEvent(event);
      return event;
    }
    #getToken() {
      const getTokenEvent = this.#dispatch('gettoken', {
        detail: { token: '' },
        cancelable: false
      });
      this.#token = '' + getTokenEvent.detail.token || '';
    }
    #changePw(event) {
      if (this.#currentPassword == this.#newPassword) {
        event.preventDefault();
        this.errorMessage = `'Current Password' and 'New Password' must be different.`;
        return;
      }
      const data  = {
        currentPassword: this.#currentPassword,
        newPassword: this.#newPassword
      };
      if(this.#token) {
        data.token = this.#token;
      }

      const changePwEvent = this.#dispatch('changepw', {detail: data});
      if (changePwEvent.defaultPrevented) {
        event.preventDefault();
        return;
      }

      if (!this.changePwHref) {
        this.#els.dialog.closeDialog(DIALOG_BUTTONS.OK, data);
        event.preventDefault();
        return;
      }
    }
  </script>
</component>
