<component tag="evo-header">
  <script root>
    import "./WcAElement.js";
  </script>
  <template>
    <nav>
      <wc-a href="/home">Home</a>
      <wc-a href="/get-started">Get Started</a>
      <wc-a href="/docs/intro" starts-with="/docs">Docs</a>
      <wc-a href="/examples">Examples</a>
      <wc-a href="/faq">FAQ</a>
      <!--div class="search-bar">
        <input type="text" placeholder="Search" />
      </div-->
    </nav>
  </template>
  <style>
    :host {
      background-color: var(--color-dark-2);
      color: var(--color-dark);
      padding: 0 20px;
    }

    nav {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
    }

    wc-a {
      --wc-a-color: var(--color-bright);
      padding: 10px;
    }

    wc-a[selected] {
      --wc-a-bgcolor: var(--color-dark);
    }

    wc-a::part(a) {
      opacity: .8;
      text-decoration: none;
      text-wrap: nowrap;
    }

    wc-a::part(a):hover {
      opacity: 1;
    }
  </style>
</component>
