<component tag="evo-intro">
  <script root>
    import { router } from "../EvoRouter.js";
    import "./WcAElement.js"
  </script>
  <template>
    <section>
      <h1>Evo-wc</h1>
      <h2>Evolved Web - Web Components</h2>
      <h3>Write what you need without all the boilerplate</h3>
    </section>
    <h4><wc-a href="/slideshow/0">Michael Collins - 08/15/2023</wc-a></h4>
  </template>
  <script>
    #routeUnChange = null;
    #unAel = null;
    connected() {
      this.tabIndex = 0; // Allow Keyboard Events
      this.#routeUnChange = router.onChange(() => this.#routeChanged());
      this.#routeChanged();

      // The following will be gone when we can add event listeners to the <template> tag
      this.#unAel = ael(this, 'keydown', (evt) => this.#keyDownHandler(evt))
    }

    disconnected() {
      if(this.#unAel) {
        this.#unAel();
        this.#unAel = null;
      }
      if (this.#routeUnChange) {
        this.#routeUnChange();
        this.#routeUnChange = null;
      }
    }

    #keyDownHandler(evt) {
      const { key } = evt;
      if (['PageDown','ArrowDown'].includes(key)) {
        router.navigate('/slideshow/0');
      }
    }

    #routeChanged() {
      this.focus();
    }
  </script>
  <style>
    @font-face {
      font-family: kingvoon;
      src: url("/fonts/Kingvoon.otf") format("opentype");
    }
    :host {
      background: black;
      bottom: 0;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      left: 0;
      margin: 0;
      padding: 20px;
      position: fixed;
      right: 0;
      top: 0;
    }
    section {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 12%;
      width: 100%;
    }
    h1 {
      font: 200px Kingvoon;
      color: #FEFF2F;
      margin: 0 0 1rem;
    }
    h2 {
      color: #FFF;
      font-size: 72px;
      font-weight: bold;
      margin: 0;
    }
    h3 {
      color: #C896FF;
      font-size: 55px;
      font-weight: bold;
      margin: 0;
    }
    h4 {
      font-size: 38px;
      font-weight: bold;
      margin: 0;
    }
    wc-a::part(a) {
      color: #FEFF2F;
      text-decoration: none;
    }
    wc-a::part(a):hover {
      --wc-a-hover-color: #FEFF2F;
    }
    wc-a::part(a):visited {
      --wc-a-visited-color: #FEFF2F;
    }
  </style>
</component>
