<component tag="evo-slidelist"
  :#heading
  :#sub
  :#content
  :#example="bool:false"
  :#center="bool:false"
  :#linkPrev
  :#linkNext
  :#linkEnd
>
  <script root>
    import { router } from "../EvoRouter.js";
    import './WcAElement.js';
    import './EvoSlideElement.js';
    import './Example1Element.js';
    import './Example2Element.js';
    import './Example3Element.js';
    import './Example4Element.js';
    import './MyElElement.js';
    import './LocaleDateElement.js';
    import './TwoWayElement.js';
    import './PipeMeElement.js';
    import './WcLoopElement.js';
    import { SLIDES } from '/js/slideData/slideData.js';
    const PATH_RE = /^(?<path>\/\w+\/)(?<page>\d+)\/?$/;
    const max = SLIDES.length - 1;
  </script>
  <template>
    <evo-slide :heading="#heading" :sub="#sub" :content="#content" :example="#example" :center="#center"></evo-slide>
    <div class="nav">
      <wc-a :href="#linkPrev">&lt;</wc-a>
      <wc-a :href="#linkNext">&gt;</wc-a>
    </div>
  </template>
  <script>
    #unOnChange = null;
    #unAel = null;

    connected() {
      this.tabIndex = 0; // Allow Keyboard Events
      this.#unOnChange = router.onChange(() => this.#routeChanged());
      this.#routeChanged();

      this.#unAel = ael(this, 'keydown', (evt) => this.#keyHandler(evt));
    }

    disconnected() {
      if (this.#unOnChange) {
        this.#unOnChange();
        this.#unOnChange = null;
      }
      if (this.#unAel) {
        this.#unAel();
        this.#unAel = null;
      }
    }

    #keyHandler(evt) {
      const { altKey, code } = evt;
      if (['PageUp', 'ArrowUp'].includes(code)) {
        if(altKey) {
          // Go Home
          router.navigate('/slideshow');
        }
        else {
          // Move back;
          router.navigate(this.#linkPrev);
        }
      }
      if (['PageDown', 'ArrowDown'].includes(code)) {
        if (altKey) {
          router.navigate(this.#linkEnd);
        }
        else {
          // Move forward
          router.navigate(this.#linkNext);
        }
      }
      if (['Home'].includes(code)) {
        // Move forward
        router.navigate('/slideshow');
      }
      if (['End'].includes(code)) {
        // Go to last page
        router.navigate(this.#linkEnd);
      }
    }

    navUpdate(...args) {
      console.log(args);
    }

    #routeChanged() {
      let page = 0;
      let path = '/slideshow/'
      const re = PATH_RE.exec(window.location.pathname);
      if (re) {
        path = re.groups.path
        page = Number(re.groups.page);
      }
      let slide = SLIDES[page];
      if (!slide) {
        slide = SLIDES[max];
      }
      this.#heading = slide.heading;
      this.#sub = slide.sub;
      this.#content = slide.content;
      this.#example = slide.example || null;
      this.#center = slide.center || null;
      this.#linkPrev = (page === 0) ? path.slice(0,-1) : `${path}${page-1}`;
      this.#linkNext = `${path}${page+1}`;
      this.#linkEnd = `${path}${max-2}`;
      this.focus();
    }
  </script>
  <style>
    :host {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      left: 0;
      margin: 0;
      padding: 40px;
      position: fixed;
      right: 0;
      top: 0;
    }
    .nav {
      align-items: center;
      bottom: 0;
      display: flex;
      font-size: 8rem;
      justify-content: space-between;
      left: 2rem;
      opacity: .1;
      position: fixed;
      right: 2rem;
    }
    wc-a::part(a) {
      text-decoration: none;
    }
  </style>
</component>
<!--
  https://stenciljs.com/
  https://github.com/mappmechanic/awesome-stenciljs

  Components:
  https://github.com/san2beerelli/material-webcomponents/tree/master/src/components
  https://goatui.com

  HTML First Frameworks:
  https://www.sitepen.com/blog/intro-to-html-first-frontend-frameworks
  https://markojs.com/
  https://fresh.deno.dev/
  https://enhance.dev/
  https://qwik.builder.io/
  https://astro.build/
  https://www.11ty.dev/
  https://astro.build/
  https://qwik.builder.io/
  https://enhance.dev/
-->
