<component tag="example-code"
  :#selected-tab="str:0">
  <template>
    <slot name="title"></slot>
    <div><slot name="description"></slot></div>
    <div>
      <h4>Component Example:</h4>
      <slot name="example"></slot>
    </div>
    <div :attr.selected="#selectedTab">
      <h4>Source Code:</h4>
      <div>
        <button .click="#changeTab" data-tab="0">Template</button>
        <button .click="#changeTab" data-tab="1">JavaScript</button>
      </div>
      <div>
        <slot name="html-code"></slot>
        <slot name="js-code"></slot>
      </div>
    </div>
  </template>
  <style>
    :host {
      display: block;
      margin: 0;
      padding: 0;
    }
    h4 {
      all: inherit;
      font-weight: bold;
      margin-block: 2rem .5rem;
    }

    button {
      background-color: transparent;
      color: #FFFFFF;
      border: none;
      font-weight: bold;
      margin: 0;
      padding: 6px 12px;
    }

    [selected="0"] button[data-tab="0"],
    [selected="1"] button[data-tab="1"] {
      background-color: #00000088;
    }

    [selected="0"] slot:not([name="html-code"]),
    [selected="1"] slot:not([name="js-code"]) {
      display: none;
    }

    [selected] button[data-tab]:hover {
      background-color: #00000033;
    }

    slot[name="example"] {
      background-color: black;
      border: 4px solid #444;
      display: block;
      padding: 1rem;
    }

</style>
  <script>
    #changeTab(evt, data) {
      this.#selectedTab = data.tab;
    }
  </script>
</component>
