<component tag="has-switch" :+dog-food="number:0" :+cat-food="number:0">
  <template>
    <button is="wc-button" .click="#setDogFood" data-val="0">Zero</button>
    <button is="wc-button" .click="#setDogFood" data-val="1">One</button>
    <button is="wc-button" .click="#setDogFood" data-val="2">Two</button>
    <hr>
    <p $switch="dogFood:0">Hello world - This is ZERO</p>
    <div $switch="dogFood:1">
      <h1>This is number 1</h1>
      <div>
        <wc-calendar></wc-calendar>
      </div>
    </div>
    <div $switch="dogFood:2">
      <h2>Hello world 2</h2>
      <p>This is a second element inside a switch.</p>
    </div>
  </template>
  <import>
    import "./WcButtonElement.js";
  </import>
  <script placement="top">
    import { WcCalendarElement } from './WcCalendarElement.js';
  </script>
  <script>
    #setDogFood(event) {
      this.dogFood = event.target.dataset.val;
      this.catFood++;
    }
  </script>
</component>
