<component tag="if-one" :state="bool:true">
  <template>
    <div>this.state is currently set to <span :text="state"></span></div>
    <button .click="#toggleState">Toggle</button>
    <div class="red" $if="state">Shows if this.state is set to true.</div>
    <div class="blue" $if="!state">Shows when this.state is set to false.</div>
  </template>
  <style>
    :host { display: inline-block; }
    .red { background-color: #F00; margin: 20px; padding: 20px; }
    .blue { background-color: #00F; color: #FFF; margin: 20px; padding: 20px; }
  </style>
  <script root>
    export const MY_VAL = 10;
  </script>
  <script>
    #toggleState(event) {
      this.state = !this.state;
    }
  </script>
</component>