<component tag="local-time" shadow="closed" :dog="array:[1,2,3,4]"
  :timestamp="date" :locale="string"
  :format="object:{weekday:'long',year:'numeric',month:'long',day:'numeric'}"
  :#localetime :#classes>
  <template>
    <span :text="#localetime" :style="locale" :class="#classes"></span>
    <button is="wc-button" small .click="#setLocale" data-locale="en">EN</button>
    <button is="wc-button" small .click="#setLocale" data-locale="fr">FR</button>
    <button is="wc-button" small .click="#setLocale" data-locale="ru">RU</button>
    <button is="wc-button" small .click="#setLocale" data-locale="ja">JA</button>
  </template>
  <import>
    import "./WcButtonElement.js";
  </import>
  <style>
  </style>
  <script>
    update() {
      if (this.format != null && this.timestamp != null) {
        const locale = this.locale || document.documentElement.lang || navigator.language;
        const format = this.format || { month: '2-digit', day: '2-digit', year: 'numeric' };
        const formatter = new Intl.DateTimeFormat(locale, format);
        const newStr = formatter.format(this.timestamp);
        if (this.#localetime !== newStr) {
          this.#localetime = newStr;
        }
      }
    }

    #setLocale(event) {
      this.locale = event.target.dataset.locale;
    }

    toString() {
      this.update();
      return this.#localetime;
    }
  </script>
</component>
