<component tag="portfolio-img"
  :title="str:Enter something into the field below:"
  :value
  :#num="int:0">
  <template>
    <div class="text-block">
      <div :text="title"></div>
      <input :value="value" />
      <p>[<span :text="value"></span>] - [<span :text="#num"></span>]</p>
      <button .click="#dec">Dec</button>
      <button .click="#inc">Inc</button>
    </div>
  </template>
  <style>
    :host {
      background-color: #EEF;
      border: 1px solid #99A;
      display: block;
      height: 225px;
      overflow: hidden;
      width: 400px;
    }
  </style>
  <script>
    #inc(evt) {
      this.#num++;
    }

    #dec(evt) {
      this.#num--;
    }
  </script>
</component>
