<component tag="portfolio-img" :+title :text :dogs :#thing="int:0" :busy="bool:true">
  <template>
    <div class="text-block" :attr.aa-bb-cc-dd="#thing" :aa-bb-cc-dd="#thing" :attr.dog="text" :attr.cat="text|#toUpper|#reverse">
      <div class="title" :html="title">stuff</div>
      <div class="text" :text="text"></div>
      <input :value="dogs" :data.taco-bell="#thing" .input="#logIt" />
      <p :text="dogs"></p>
      <p :text="#thing"></p>
      <button .click="#inc">Inc</button>
      <button .click="#dec" :aria.busy="busy">Dec</button>
    </div>
  </template>
  <style>
    :host {
      background-color: #EEF;
      border: 1px solid #99A;
      display: block;
      height: 225px;
      overflow: hidden;
      width: 400px;
    }
  </style>
  <script>
    init() {
      this.#thing = 10;
    }

    // Event Handlers
    #logIt(event) {
      console.log(event.target.value);
    }

    #inc(evt) {
      this.#thing++;
    }

    #dec(evt) {
      this.#thing--;
    }

    // Pipes
    #toUpper(value) {
      return value.toUpperCase();
    }

    #reverse(value) {
      return [...value].reverse().join('');
    }
  </script>
</component>
