<!--
** This component has a bug in version 1.1.1 that needs to be fixed.

If only the value for the CPA `decimals` changes we do not rerender this DIV:
<div class="text" :text="value|#toFixed">&nbsp;</div>

Since the compiler does not know that `this.decimals` is used inside the
pipe #toFixed the compiler does not update the textContent of the DIV.

Yes, we can watch for the changing on the CPA `decimals`. But to get the updated
and piped value of 'value' into the DIV we would have to set `this.value` to
something different and then back to the correct value.
-->
<component tag="round-progress"
  :value="number:0"
  :decimals="int:0"
  :#range="string:0"
  :#moving
  :#colorStyle>
  <template>
    <section :attr.range="#range" :style="#colorStyle">
      <div class="solid-part"></div>
      <div class="moving-part" :style="#moving"></div>
      <div class="cover"></div>
      <div class="text" :text="value|#toFixed">&nbsp;</div>
    </section>
  </template>
  <script>
    init() {
      this.onUpdate('value', this.#updateValue)
    }
    connected() {
      const bgColor = this.#getHostBG(this);
      this.#colorStyle = `--round-progress-default-bgcolor:${bgColor}`;
    }
    #updateValue() {
      const rot = this.value * 2.70;
      this.#range = (rot > 180) ? 2 : (rot > 90) ? 1 : 0;
      this.#moving = `transform:rotate(${rot}deg)`;
    }
    #toFixed(val, data) {
      return (+val).toFixed(this.decimals);
    }
    #getHostBG(el) {
      let bgc = '#FFFFFF';
      while(el) {
        const { backgroundColor } = getComputedStyle(el);
        if (backgroundColor != 'rgba(0, 0, 0, 0)') {
          bgc = backgroundColor;
          break;
        }
        el = el.parentElement;
        if (el === document) {
          break;
        }
      }

      return bgc;
    }
  </script>
  <style>
    :host {
      display: inline-block;
      height: var(--round-progress-height, 200px);
      margin: 0;
      min-height: 100px;
      min-width: 100px;
      padding: 10px;
      width: var(--round-progress-width, 200px);
    }
    section {
      height: 100%;
      position: relative;
      width: 100%;
    }
    .solid-part, .moving-part, .cover {
      border: 40px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .solid-part {
      background-color: var(--round-progress-bgcolor, var(--round-progress-default-bgcolor, white));
      border: 40px solid #EEE;
    }
    .moving-part {
      border-bottom-color: var(--round-progress-color, currentcolor);
    }
    [range="1"] .solid-part {
      border-left-color: var(--round-progress-color, currentcolor);
    }
    [range="2"] .solid-part {
      border-top-color: var(--round-progress-color, currentcolor);
      border-left-color: var(--round-progress-color, currentcolor);
    }
    .text {
      font: 36px Tahoma;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .cover {
      border-bottom: 45px solid var(--round-progress-bgcolor, var(--round-progress-default-bgcolor, white));
      height: calc(100% + 1px);
      width: calc(100% + 1px);
    }
  </style>
</component>
