<component tag="round-progress"
  :value="number:0"
  :decimals="int:0"
  :line-color="string:#446688"
  :#range="string:0"
  :#moving
  :#color-style>
  <template>
    <section :attr.range="#range" :style="#colorStyle">
      <div class="solid-part"></div>
      <div class="moving-part" :style="#moving"></div>
      <div class="cover"></div>
      <div class="text" data-fixed="3" :text="value|#toFixed">&nbsp;</div>
    </section>
  </template>
  <style>
    :host {
      display: inline-block;
      height: var(--round-progress-height, 200px);
      margin: 0;
      min-height: 100px;
      min-width: 100px;
      padding: 10px;
      width: var(--round-progress-width, 200px);
    }
    section {
      height: 100%;
      position: relative;
      width: 100%;
    }
    .solid-part, .moving-part, .cover {
      border: 40px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .solid-part {
      background-color: var(--round-progress-bgcolor, white);
      border: 40px solid #EEE;
    }
    .moving-part {
      border-bottom-color: var(--round-progress-color, #446688);
    }
    [range="1"] .solid-part {
      border-left-color: var(--round-progress-color, #446688);
    }
    [range="2"] .solid-part {
      border-top-color: var(--round-progress-color, #446688);
      border-left-color: var(--round-progress-color, #446688);
    }
    .text {
      font: 36px Tahoma;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .cover {
      border-bottom: 45px solid var(--round-progress-bgcolor, white);
      height: calc(100% + 1px);
      width: calc(100% + 1px);
    }
  </style>
  <script>
    #toFixed(val, data) {
      return (+val).toFixed(this.decimals);
    }

    #getHostBG(el) {
      const styles = window.getComputedStyle(el);
      let bgColor = styles.backgroundColor;
      if (bgColor === 'rgba(0, 0, 0, 0)') {
        const parent = el.parentNode;
        if (parent !== document) {
          bgColor = this.#getHostBG(parent);
        }
        else {
          bgColor = 'white';
        }
      }

      return bgColor;
    }

    update({cpa}) {
      switch (cpa) {
        case 'value':
          const rot = this.value * 2.70;
          this.#range = (rot > 180) ? 2 : (rot > 90) ? 1 : 0;
          this.#moving = `transform:rotate(${rot}deg)`;
          break;

        case 'lineColor':
          const bgColor = this.#getHostBG(this);
          this.#colorStyle = `--round-progress-color:${this.lineColor};--round-progress-bgcolor:${bgColor}`;
          break;
      }
    }
  </script>
</component>
