<component tag="simple-address"
  :first-name="string:Han"
  :last-name="string:Solo"
  :address="string:Docking Bay 94"
  :city="string:Mos Eisley"
  :state="string:Tatooine"
  :zip="string:12345">
  <template>
    <div class="next-to">
      <div>
        <div>
          <label>First Name: </label><br/>
          <input :value="firstName" autofocus />
        </div>
        <div>
          <label>Last Name: </label><br />
          <input :value="lastName" />
        </div>
        <div>
          <label>Address: </label><br />
          <input :value="address" />
        </div>
        <div>
          <label>City: </label><br />
          <input :value="city" />
        </div>
        <div>
          <label>State: </label><br />
          <input :value="state" .input="#toUpper" />
        </div>
        <div>
          <label>Zip: </label><br />
          <input :value="zip" />
        </div>
        <div><button .click="#submit" el="btn">Submit</button></div>
      </div>
      <div>
        <span :text="firstName"></span> <span :text="lastName"></span><br/>
        <span :text="address"></span><br/>
        <span :text="city"></span>, <span :text="state"></span> <span :text="zip"></span>
      </div>
    </div>
  </template>
  <style>
    .next-to {
      display: flex;
      flex-direction: row;
    }

    .next-to > div {
      margin-right: 20px;
    }
  </style>
  <script>
    #submit(event) {
      // console.log(this.value);
    }

    #toUpper(evt) {
      this.state = this.state.toUpperCase();
    }

    get value() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        address: this.address,
        city: this.city,
        state: this.state,
        zip: this.zip
      }
    }
  </script>
</component>
