<component tag="some-face" :state="string:sad">
  <template>
    <span :attr.face="state">
      <span eye="left"></span>
      <span eye="right"></span>
      <span mouth></span>
    </span>
    <button .click="#setState" data-locale="happy">Happy</button>
    <button .click="#setState" data-locale="sad">Sad</button>
  </template>
  <style>
    span[face] {
      background-color: #FFFF66;
      border: 1px solid #999900;
      border-radius: 50%;
      display: inline-block;
      height: 100px;
      margin: 10px;
      position: relative;
      width: 100px;
    }

    span[eye] {
      background-color: black;
      border-radius: 50%;
      display: block;
      height: 10px;
      position: absolute;
      top: 30px;
      width: 10px;
    }

    span[eye=left] {
      left: 27px;
    }

    span[eye=right] {
      right: 27px;
    }

    span[mouth] {
      border-bottom: 3px solid black;
      border-radius: 50%;
      bottom: 15px;
      height: 60px;
      left: 20px;
      position: absolute;
      top: unset;
      width: 60px;
    }

    span[face=sad] span[mouth] {
      border: unset;
      border-top: 3px solid black;
      bottom: unset;
      top: 50%;
    }

  </style>
  <script>
    #setState(event, data) {
      this.state = data.locale;
    }
  </script>
</component>
