<component tag="special-thing" :today="date"
  :locale="string:en" :num="int:100"
  :message="string:This 'is' a test:"
  :show="bool:true"
  :#localeDate>
  <template>
    <div class="thing" :attr.show="show" :data-num="num" :alt="message" :html="message"></div>
    <number>0</number>
    <number>3</number>
    <p :text="#localeDate"></p>
    <p $if="show">You have <span :text="num"></span> apples!</p>
    <button .click="#newNum">Change</button>
  </template>
  <style>
    .thing > dog {
      background-color: aliceblue;
      padding: 5px 0;
    }
  </style>
  <script>
    update() {
      const locale = this.locale || document.documentElement.lang || navigator.language;
      const format = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      const formatter = new Intl.DateTimeFormat(this.locale, format);
      this.#localeDate = formatter.format(this.timestamp);
      if (1 < 100) {
        console.log('wow')
      }
    }
    #newNum() {
      this.num = Math.abs(Math.random() * 100);
    }
  </script>
</component>
