<component tag="special-thing"
  :+show="bool:true"
  :today="date:var:this._buildDate"
  :locale
  :num="int(0,10):0"
  :values="arr"
  :test-it="str:hi"
  :message="str:This 'is' a test:"
  :#dog-food="str:Click Me!"
  :#input
  :#localeDate="str">
  <template>
    <h1 .mouseover="#mouseOverHandler">Hi</h1>
    <p data-pre="===" data-post='---' :text="message|#doSomethingPipe|^toUpper" el='dogEl'></p>
    <div $for="values as item.key" :data.taco="item.title" :attr.key="item.key" class="showy">
      <div>Name: <span :text="item.name"></span></div>
      <div>Age: <span :text="item.age"></span></div>
    </div>
    <input :value="#input" /><br/>
    <input :value="#input" .input="#inputHandler" />
    <div el="fruitCake" class="thing" :attr.show-me="show" :data.number="num" :alt="message" :html="message"></div>
    <number :attr.name="locale|^toUpper" :text="num"></number>
    <number :text="#dogFood|^toUpper"></number>
    <p>This was built on <span :text="#localeDate"></span></p>
    <p $if="show">You have "<span :text="num"></span>" apples!</p>
    <p $if="!show">You have "<span :text="num"></span>" bananas!</p>
    <div>The value for num is
      <span $switch="num:0,2">Below Three</span>
      <span $switch="num:3,5">Below Six</span>
      <span $switch="num:6,8">Below Nine</span>
      <span $switch="!num:0,8">Above Nine</span>
    </div>
    <button .click="#clickHandler" :text="#dogFood"></button>
  </template>
  <style>
    .thing > dog {
      background-color: aliceblue;
      padding: 5px 0;
    }
    .cat {
      background-color: aliceblue;
      padding: 5px 0;
    }
  </style>
  <script root>
    import { toUpper } from '../EvoPipes.js';
  </script>
  <script>
    update() {
      const locale = this.locale || document.documentElement.lang || navigator.language;
      const format = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      const formatter = new Intl.DateTimeFormat(locale, format);
      this.#localeDate = formatter.format(this.timestamp);
    }

    #mouseOverHandler(event, data) {
      // Do something
    }

    #inputHandler(event, data) {

    }

    /**
     * @param {MouseEvent} event - MouseEvent
     * @param {object} data - event.target.dataset
     */
    #clickHandler(event, data) {
      this.num = Math.abs(Math.random() * 12);
    }

    // Do this too
    #doSomethingPipe(val, data) {
      return `${data.pre || '--'} ${val} ${data.post || '--'}`;
    }
  </script>
</component>
