<component tag="system-dialog"
  :#message
  :#title
  :#show-input="bool:true"
  :#show-cancel="bool:true"
  :#answer>
  <template>
    <wc-dialog js="dialog" :title="#title" :show-cancel="#showCancel" show-x="false" allow-esc="false">
      <div :html="#message"></div>
      <textarea autofocus $if="#showInput" :value="#answer"></textarea>
    </wc-dialog>
  </template>
  <style>
    :host {
      height: 0;
      margin: 0;
      padding: 0;
      width: 0;
    }
    div {
      min-width: 400px;
      padding: 12px 0;
    }
    textarea {
      box-sizing: border-box;
      font: inherit;
      height: 5em;
      resize: none;
      width: 100%;
    }
  </style>
  <script>
    update(field, oldVal, newVal) {
      console.log('system-dialog:', this.id, field, oldVal, newVal);
    }

    open({ message, title, showCancel, showInput } = {}) {
      console.log(1);
      this.#message = '';
      this.#title = '';
      this.#showCancel = true;
      this.#showInput = true;
      setTimeout(() => {
        console.log(2);
        this.#message = message;
        this.#title = title;
        this.#showCancel = showCancel;
        this.#showInput = showInput
      }, 5);
      return this.#els.dialog.open().then(resp => {
        resp.data = resp.button === DIALOG_BUTTONS.OK ? this.#answer : false;
        return resp;
      });
    }
  </script>
  <import>
    import { DIALOG_BUTTONS } from './WcDialogElement.js';
    const sleep = (time) => new Promise((resolve) => setTimeout(() => {
    resolve();
    }, time));
    window.alertwc = (message, title) => {
      console.log('----------- alertwc started');
      let dlg = document.createElement('system-dialog');
      document.body.appendChild(dlg);
      return sleep(1).then(() => {
        const data = {
          message,
          title: title ?? "Alert",
          showCancel: false,
          showInput: false
        };
        return dlg.open(data);
      }).then(() => {
        dlg.remove();
        dlg = null;
        console.log('----------- alertwc finished');
      });
    }

    window.promptwc = async (message, title) => {
      console.log('----------- promptwc started');
      let dlg = document.createElement('system-dialog');
      document.body.appendChild(dlg);
      const data = {
        message,
        title: title ?? "Prompt",
        showCancel: true,
        showInput: true
      };
      const resp = await dlg.open(data);
      dlg.remove();
      dlg = null;
      console.log('----------- promptwc finished');
      return resp.data;
    }

    window.confirmwc = async (message, title) => {
      console.log('----------- confirmwc started');
      let dlg = document.createElement('system-dialog');
      document.body.appendChild(dlg);
      const data = {
        message,
        title: title ?? "Confirm",
        showCancel: true,
        showInput: false
      };
      const resp = await dlg.open(data);
      dlg.remove();
      dlg = null;
      console.log('----------- confirmwc finished');
      return resp.button === DIALOG_BUTTONS.OK;
    }
  </import>
</component>
