<component tag="wc-rank"
  :+live="bool:false"
  :rank="num(0,5):5"
  :show-num="bool:false"
  :#style
  :#val
  >
  <template>
    <span class="container">
      <span el="span" class="stars" .mouseleave="#mouseLeave" .mousemove="#mouseMove" .click="#click">☆☆☆☆☆<span :attr.style="#style">★★★★★</span></span>
      <span $if="showNum" :text="#val"/>
    </span>
  </template>
  <style>
    :host, span {
      --wc-rank-outline-color: #DF8500;
      --wc-rank-overlay-color: orange;
      --wc-rank-select-color: blue;
      display: inline;
    }
    :host([live]) {
      cursor: pointer;
    }

    .container {
      align-items: center;
      display: inline-flex;
      gap: 4px;
      justify-content: center;
      width: fit-content;
    }
    span {
      color: var(--wc-rank-outline-color);
      position: relative;
    }
    :host([live]) .stars {
      color: var(--wc-rank-select-color);
    }
    :host([live]) .stars [style] {
      color: var(--wc-rank-select-color);
    }
    [style] {
      left: 0;
      color: var(--wc-rank-overlay-color);
      overflow: hidden;
      position: absolute;
    }
  </style>
  <script root>
    const DOG = "Woof Woof!"
    const CAT = "Meow meow!"
    function mine() {
      // This is a test
      if (10) {
        // Do something
      }
    }
  </script>
  <script>
    update(key, oldVal, newVal) {
      if (key === 'rank') {
        this.#updateRateing(newVal);
      }
    }

    #updateRateing(rating) {
      const percent = Math.round(100 * (rating / 5));
      this.#style = `width:${percent}%`;
      this.#val = rating.toFixed(1).replace('.0', '');
      this.setAttribute('title', `${rating.toFixed(2)} / 5`);
    }

    #getRank(event) {
      const { offsetX } = event;
      const { offsetWidth, offsetLeft } = this.#els.span;
      return (Math.round((((offsetX - offsetLeft) / offsetWidth) * 50) / 5) / 2) || .5;
    }

    #mouseLeave(event, data) {
      this.#updateRateing(this.rank);
    }

    #mouseMove(event, data) {
      if(this.live) {
        const rank = this.#getRank(event);
        if(rank < 0.5) {
          rank = 0.5;
        }
        this.#updateRateing(rank);
        event.preventDefault();
      }
    }

    #click(event, data) {
      if (this.live) {
        this.rank = this.#getRank(event);
        this.live = false;
        event.preventDefault();
      }
    }

  </script>
</component>
