<component tag="home-page">
  <script root>
    import "./WcAElement.js"
  </script>
  <template>
    <main>
      <section class="hero">
        <div class="hero-text">
          <h1>EVO Demo Site</h1>
          <h2>Evolved Web Components</h2>
          <div class="hero-buttons">
            <wc-a class="nav-button" href="https://www.Evowc.com/get-started" show-ext="1">Evo Getting Started Page</wc-a>
          </div>
        </div>
        <div>
          <img src="/img/EvoLogo-blackbg.jpg" />
        </div>
      </section>
      <section class="section2">
        <div class="info-item">
          <div>
            <h2>Welcome to the demo home page</h2>
            <p>Fill this in with anything you want.</p>
          </div>
        </div>
      </section>
    </main>
  </template>
  <script>
  </script>
  <style>
    :host {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    * {
      box-sizing: border-box;
    }

    .hero {
      background-color: var(--color-dark);
      color: var(--color-bright);
      --wc-a-color: var(--color-bright);
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 4rem;
      place-content: space-between;
    }

    .hero img {
      aspect-ratio: 1;
      max-width: 300px;
      width: 100%;
    }

    @media screen and (max-width : 600px) {
      .hero {
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
      }
    }

    h2 {
      text-wrap: balance;
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      gap: 1rem;
      place-content: space-around start;
    }

    .hero .nav-button::part(a) {
      background-color: var(--color-dark-2);
      border-radius: 4rem;
      display: inline-block;
      font: bold 1.2rem Roboto, Monaco, 'Courier New', Courier, monospace;
      padding: 0.5rem 1rem;
      margin-inline-end: clamp(5px, 1rem, 20px);
      text-decoration: none;
    }


    .hero .nav-button:nth-child(even)::part(a) {
      background-color: var(--color-bright-2);
      --wc-a-color: var(--color-dark);
    }
    .hero .nav-button::part(a):hover {
      opacity: .8;
    }

    .section2, .examples, .faq {
      background-color: var(--color-dark-3);
      color: var(--color-bright);
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      font: bold 1.25rem Roboto, Monaco, 'Courier New', Courier, monospace;
      gap: 4rem;
      padding: 4rem;
      place-content: space-between;
    }

    .section2 h2 {
      color: var(--color-bright-2);
      text-shadow: 2px  0px 5px #0006,
                  -2px  0px 5px #0006,
                    0px  2px 5px #0006,
                    0px -2px 5px #0006;
    }

    .info-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      justify-content: space-between;
      gap: 3rem;
    }

    .info-item:nth-child(even) {
      flex-direction: row-reverse;
    }

    .info-item img {
      height: auto;
      max-width: 100%;
      width: 20rem;
    }


    @media screen and (max-width : 690px) {
      .hero {
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
      }
      .hero-text,
      .hero-img {
        align-items: center;
        text-align: center;
      }
      .hero-img {
        padding-top: 2rem;
      }

      .info-item, .info-item:nth-child(even), .cols {
        flex-direction: column;
      }
      .info-item img {
        width: 35rem;
      }
    }
    .cell h3 {
      margin-bottom: .5em;
    }
    .cell p {
      margin: 0 0 0 2rem;
    }
  </style>
</component>