<component tag="locale-date"
  :format="object:{weekday:'long',year:'numeric',month:'long',day:'numeric'}"
  :locale
  :timestamp="date:var:new Date()"
  :#localetime>
  <template>
    <button .click="#setLocale" data-locale="en">EN</button>
    <button .click="#setLocale" data-locale="fr">FR</button>
    <button .click="#setLocale" data-locale="ru">RU</button>
    <button .click="#setLocale" data-locale="es">ES</button>
    <button .click="#setLocale" data-locale="cs">CS</button>
    <button .click="#setLocale" data-locale="ja">JA</button><br/>
    <span :text="#localetime"></span>
  </template>
  <script>
    update() {
      if (this.timestamp != null) {
        const locale = this.locale || document.documentElement.lang || navigator.language;
        const format = this.format || { month: '2-digit', day: '2-digit', year: 'numeric' };
        const formatter = new Intl.DateTimeFormat(locale, format);
        this.#localetime = formatter.format(this.timestamp);
      }
    }

    #setLocale(event, data) {
      this.locale = data.locale;
    }
  </script>
</component>
